@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.bg-bgcolor {
    background-color: #F2F9FF;
}

body::-webkit-scrollbar {
    display: none;
}

.c-why {
    height: auto;
    padding: 12%;
    width: auto;
}

.bg-contact {
    background-color: #EDF2F5;
}
/* EDF2F5 */
.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}
.nav-item:hover::after {
    width: 100%;
}

.nav-item {
    margin: 15.5px;
}

.bg-custom {
    background-color: #0099CC  ;
}

.c-opacity-navbar {
    opacity: 0.95;
}

.flag {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .netherland {
    background: linear-gradient(#c11123 33%, #fff 33%, #fff 67%, #0f2e6b 0);
  }
  .text-block {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: black; */
    color: white;
    text-shadow: 0 0 10px black;
  }

  @media screen and (max-width: 600px) {
    .responsive {
        display: none;
    }
    .responsive-pic {
        height: 100vh;
    }
    .c-why {
        height: 400px;
        padding: 12%;
        width: auto;
    }
  }