.nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: 0.2s;
}
.nav-item:hover::after {
    width: 100%;
}

.nav-item {
    margin: 15.5px;
}

